@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-image: linear-gradient(20deg, #dcc, #fcc);
}

html{
    height: 100vh;
    width: 100vw;
    min-width: 500px;
}

body{
    height: inherit;
    width: 100%;
    position: relative;
    margin: auto;
}

#outer-layer{
    position: absolute;
    top: 15vh;
    left: 50%;
    height: 80%;
    max-height: 900px;
    min-height: 600px;
    background-color: red;
    width: 80%;
    max-width: 900px;
    border-radius: 2em;
    transform: translateX(-50%);
}

header{
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

#clear-button,
#rainbow-button{
    padding: 1.2em;
    margin: 1.0em;
    max-width: 500px;
    width: 30vw;
    font-family: "Acme", monospace;
    font-size: 1.4em;
    border-style: none;
    box-shadow: 0 0 4px #aaa;
    border-radius: 1em;
}

#clear-button:hover,
#rainbow-button:hover{
    background-color:#cfc;
    font-size: 1.6em;
    padding: 0.75em;
    transition: font-size 500ms, 500ms;
}

#shake-button{
    padding: 0.5em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Acme", monospace;
    font-size: 1.6vh;
    border-radius: 0.4em;
    border-style: none;
    box-shadow: 0 0 10em #111;
    width: 15vw;
    max-width: 200px;
}

#shake-button:hover{
    background-color:#cfc;
    font-size: 2vh;
    padding: 0.25em;
    transition: font-size 500ms, 500ms;
}

#content{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    display: grid;
}
