@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    height: inherit;
    width: 100%;
    position: relative;
    margin: auto;
}

#outer-layer{
    position: absolute;
    top: 15vh;
    left: 50%;
    height: 80%;
    background-color: red;
    width: 80%;
    max-width: 900px;
    border-radius: 2em;
    transform: translateX(-50%);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear-button{
    padding: 1.2em;
    margin: 1.0em;
    max-width: 500px;
    width: 30vw;
    font-family: "Acme", monospace;
    font-size: 1.4em;
    border-style: none;
    box-shadow: 0 0 4px #aaa;
    border-radius: 1em;
}

#clear-button:hover{
    font-size: 1.6em;
    padding: 0.75em;
    transition: font-size 1s, 500ms;
}

#content{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80.000002%;
    width: 80.000009%;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

